body {
    background: url('https://archeodiscret.github.io/assets/images/ciel etoilé gif.gif') repeat;
    background-size: cover;
    background-position: center;
}
/* Empêcher les images de prendre toute la largeur */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


